.navbar {
    background-color: #17ACE4!important;
    border-bottom: 1px solid #ccc;
}

.navbar .navbar-brand, .navbar .navbar-nav > li > a {
    color: white !important;
}

/* Target the color dot specifically within the child table for the 'item_name' column */
.grid-body .item-color-dot {
    width: 10px; /* Set desired size */
    height: 10px; /* Set desired size */
    border-radius: 50%; /* Make it circular */
    display: inline-block;
    margin-right: 5px; /* Space between the dot and text */
    vertical-align: middle; /* Align dot with the text */
}

/* Ensure color dots do not appear in dialogs */
.dialog .item-color-dot {
    display: none;
}

.dialog .item-color-dot {
    display: none; /* Do not display inside dialogs */
}

.status-strip {
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


